# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.log

# Virtual Environment
venv/
.env
.env.*

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Compiled HTML/JS from frontend (if using React separately)
frontend/build/
frontend/node_modules/

# Migrations (optional if you're committing them later)
**/migrations/*.pyc
**/migrations/__pycache__/